body {
  font-family: "Pixelify Sans", sans-serif;
  margin: 0;
}

.logo {
  width: 24%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
}

nav {
  position: absolute;
  background-color: red;
  border-top: 0.26vw solid black;
  border-bottom: 0.26vw solid black;
  margin: 0;
  width: 100%;
  height: 6.25vw;
  top: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
  padding-top: 5vw;
  gap: 1.5vw;
}

section {
  background-color: #f0f0f0;
}

.card {
  border: 0.26vw solid black;
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.stats {
  border: 0.26vw solid black;
  width: 90vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
}

.data {
  border: 0.26vw solid black;
  width: 90vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vh;
}

.search-bar {
  border: 0.26vw solid black;
  width: 90vw;
  height: 80vh;
}

.pokemon-image-container {
  width: 83%;
  aspect-ratio: 1 / 1;
  margin: 5% auto;
  margin-bottom: 0;
  background-color: white;
  border: 0.26vw solid black;
  border-radius: 50%;
  display: flex;
}

#pokemon-image-placeholder {
  width: 60%;
  aspect-ratio: 1 / 1;
  margin: 20% auto;
}

.pokemon-name {
  font-size: 4vh;
  margin-top: 2vh;
  margin-bottom: 0;
}

.pokemon-type-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1vh;
}

.pokemon-type {
  font-size: 3vh;
  margin: 1vh;
  padding: 0.5vh 1vh;
  border-radius: 10vh;
  background-color: rgb(95, 95, 95);
}

.pokemon-number-container {
  border-radius: 10%;
}

.pokemon-number {
  margin: 1vh;
  font-size: 3vh;
}

.about-container {
  width: 90%;
  height: 18vh;
  margin: 0 auto;
  margin-top: 2vh;
  border: 0.26vw solid black;
  background-color: white;
}

.about-title {
  font-size: 2vh;
  margin: 1vh;
  text-align: left;
}

.about-container p {
  font-size: 2vh;
  margin: 1vh;
  text-align: left;
}

.hp-container-index,
.attack-container-index,
.defense-container-index,
.s-attack-container-index,
.s-defense-container-index,
.speed-container-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: red;
  border: 0.26vw solid black;
  width: 80vw;
  height: 10.5vh;
}

.hp-container,
.attack-container,
.defense-container,
.s-attack-container,
.s-defense-container,
.speed-container {
  background-color: rgb(255, 255, 255);
  border-top: 0.26vw solid black;
  width: 100%;
  height: 50%;
}

.hp-text-index,
.hp-text,
.attack-text-index,
.attack-text,
.defense-text-index,
.defense-text,
.s-attack-text-index,
.s-attack-text,
.s-defense-text-index,
.s-defense-text,
.speed-text-index,
.speed-text {
  font-size: 4vh;
  margin: 0;
  text-align: center;
}

.data-container {
  max-width: 95%;
  max-height: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2vh;
  font-size: 2vh;
}

.abilities-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1vw;
  background-color: white;
  border: 0.26vw solid black;
}

.weight-height-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1vh;
  padding-left: 1vw;
  background-color: white;
  border: 0.26vw solid black;
}

.weight-height-container,
p,
.weight-height-container,
h3 {
  margin: 0;
}

.species-data-container {
  grid-row-start: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1vh;
  padding-left: 1vw;
  background-color: white;
  border: 0.26vw solid black;
}

.evolution-container {
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1vw;
  background-color: white;
  border: 0.26vw solid black;
  overflow-y: auto;
}

.evolution-sprite {
  width: 10vh;
  height: auto;
  margin-left: 30%;
}

.evolution-name {
  text-align: center;
}

.movements-container {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-row-start: 3;
  background-color: white;
  border: 0.26vw solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;
}

.movement-item {
  width: 100%;
  margin: 0;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  height: 10vh;
  font-size: 3vh;
  color: rgb(0, 0, 0);
  border-bottom: 0.26vw solid black;
  text-align: center;
}

.movement-item:last-of-type {
  border-bottom: 0;
}

.title-movement-list {
  margin: 0;
  text-align: center;
  font-size: 3vh;
  background-color: red;
  width: 100%;
  border-bottom: 0.26vw solid black;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.button-selector {
  width: 90%;
  height: 75%;
  background-color: white;
  border: 0.26vw solid black;
  margin-top: 2vh;
  overflow: auto;
}

.pokemon-button {
  background-color: white;
  font-size: 3vh;
  border: 0.26vw solid black;
  width: 100%;
  height: 5.5vh;
  font-family: "Pixelify Sans", sans-serif;
  border-top: 0;
  border-left: 0;
  transition: background-color 0.3s ease;
}

.pokemon-button:last-of-type {
  border-bottom: 0;
}

.pokemon-button:hover {
  background-color: rgb(255, 0, 0);
}

.input-search {
  background-color: white;
  font-size: 3.5vh;
  border: 0.26vw solid black;
  width: 80vw;
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
}

.search-button {
  background-color: rgb(255, 0, 0);
  font-size: 4vh;
  border: 0.26vw solid black;
  width: 81vw;
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: rgb(161, 0, 0);
  cursor: pointer;
}

.search-bar form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  width: 100%;
}

.grass {
  background-color: #78c850;
}

.fire {
  background-color: #f08030;
}

.water {
  background-color: #6890f0;
}

.bug {
  background-color: #a8b820;
}

.flying {
  background-color: #a890f0;
}

.poison {
  background-color: #a040a0;
}

.electric {
  background-color: #f8d030;
}

.ground {
  background-color: #e0c068;
}

.rock {
  background-color: #b8a038;
}

.ice {
  background-color: #98d8d8;
}

.fighting {
  background-color: #c03028;
}

.psychic {
  background-color: #f85888;
}

.ghost {
  background-color: #705898;
}

.dark {
  background-color: #705848;
}

.steel {
  background-color: #b8b8d0;
}

.normal {
  background-color: #a8a878;
}

.fairy {
  background-color: #ee99ac;
}

.dragon {
  background-color: #7038f8;
}

@media (min-width: 768px) {
  .card {
    height: 105vh;
  }

  .data {
    height: 130vh;
  }

  .evolution-sprite {
    width: 13vh;
  }
}

@media (min-width: 1280px) {
  .app-container {
    margin-top: 6vh;
    flex-direction: row;
    align-items: normal;
  }

  .search-bar {
    width: 16vw;
    height: 80vh;
  }

  .card {
    width: 20vw;
    height: 80vh;
  }

  .stats {
    width: 12vw;
    height: 80vh;
  }

  .data {
    width: 40vw;
    height: 80vh;
  }

  .hp-container-index,
  .attack-container-index,
  .defense-container-index,
  .s-attack-container-index,
  .s-defense-container-index,
  .speed-container-index {
    width: 7vw;
  }

  .button-selector {
    height: 80%;
  }

  .input-search {
    font-size: 2vh;
    width: 90%;
  }

  .search-button {
    font-size: 2vh;
    width: 94%;
  }
}

@media (min-width: 1920px) {
  .evolution-sprite {
    width: 15vh;
    margin-left: 55%;
  }

  .evolution-name {
    margin-top: 3vh;
    font-size: 3vh;
    margin-left: 55%;
  }
}
